// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$light-red : #ffabab;

body{ font-size: small;}
.nav-item .loged-user { width:2rem!important; max-width: 2rem !important; position: relative; top: -2px; }

.modal{ z-index: 99999999!important; }

table{ margin-bottom: 1.5rem !important; }

.resign{ background-color: $light-red ;}

ul{
    .role{
        font-weight: bold;
        border: 1px solid #dde0e2;
        padding: 1rem;

        button{ margin-top: 0.5rem;}
    }
    li{
        div{ margin-top: 15px; }
    }
}

.shifts-allocation-contents{
    .btn-close{ position: relative; top:2rem; }
}

#formEmployeeDetails{
    .actions{
        position: relative;
        display: block;
        text-align: right;
        width: 100%;
        ul{
            display: inline-block;
            text-align: right;
            list-style: none !important;
            padding: 0;
            margin: 0;
        }
        li{
            display: inline-block; margin: 5px;
        }
        a{
            background: #2184be;
            color: #fff;
            display: block;
            padding: 0.5em 1em;
            text-decoration: none;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        .disabled a,.disabled a:hover,.disabled a:active{
            background: #eee;
            color: #aaa;
        }
    }
}

.tabcontrol > .content{
    border: 1px solid #bbbbbb;
}

.error{ color: #ff0000; }
.form-control.error{color: #ff0000;border: 1px solid #ff0000;}

.card-header{
    .btn{
        margin-left: 3px !important;
    }
}

.hide{ display: none; }

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
    top: 35px !important;
}

.no-borders{ border: none !important; }

.table-Paysheet{ overflow: auto; }
//
//.left ul {
//    list-style: none;
//}

.com {
    font-weight: bold;
    font-size: 16px;
}

//table, td, th {
//
//    padding: 9px;
//}
//table {
//    border-collapse: collapse;
//    width: 100%;
//    margin-top: 25px;
//}
//table thead { font-weight: bold; background-color: #E2EFDA; }
//
//.row1 {
//    border-spacing: 25px;
//}
//
//#report {
//    -webkit-print-color-adjust: exact !important;
//}

//@media print {
//    #hilightcell {
//        background-color: #D9D9D9;
//    }
//
//    #report table, td, th {
//
//        padding: 9px;
//    }
//
//    #report .left ul {
//        list-style: none;
//    }
//
//    #report table thead { font-weight: bold; background-color: #E2EFDA; }
//
//    @page
//    {
//        size: auto;   /* auto is the initial value */
//        margin: 0mm;  /* this affects the margin in the printer settings */
//    }
//}

